@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

#tab-bar::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 48px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 48px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #eee;
}