@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

ol {
  list-style: decimal;
  padding-left: 2rem;
}

ul {
  list-style: disc;
  padding-left: 2rem;
}

#tab-bar::-webkit-scrollbar {
    display: none;
}

p img{ /* Images in Markdown */
    width: 100%;
    max-width: 500px;
    width: 100%;
    height: auto;
    padding: 1rem 0;
}

pre { /* Code in Markdown */
    width: 100%;
    text-wrap: wrap;
    height: auto;
    padding: 1rem 0;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 48px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 48px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #eee;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}